<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceAuthentification" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2010/ServiceAuthentification.svc/endpointadresse"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceAuthentification"
                contract="ServiceAuthentification" name="BasicHttpBinding_ServiceAuthentification" />
        </client>
    </system.serviceModel>
</configuration>