<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TransportSecurity">
        <security mode="Transport">
           <transport clientCredentialType="None"/>
        </security>
      </binding>
      </wsHttpBinding>
      
        
      <webHttpBinding>
        <binding name="NewBinding0" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0" />
      
        <behavior name="restbehavior">
          <webHttp/>
        </behavior>
      
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MonBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="MonBehavior" name="ccm2.ServiceAuthentification">
        <endpoint address="endpointadresse" binding="basicHttpBinding"
          bindingConfiguration="" contract="ccm2.ServiceAuthentification" />

        <endpoint address="mex" binding="mexHttpBinding"
          bindingConfiguration="" contract="IMetadataExchange" />
        
      <endpoint name ="RESTEndPoint"
          contract ="ccm2.ServiceAuthentification"
          binding ="webHttpBinding"
          address ="rest"
          behaviorConfiguration ="restbehavior"/>
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2010/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="CcmDbEntities" connectionString="metadata=res://*/MonDataModel.csdl|res://*/MonDataModel.ssdl|res://*/MonDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=CcmDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>


